<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./normalize.css">
    <link rel="stylesheet" href="./style.css">
    <title>week-4 assignment</title>
</head>
<body>
    <div class="title">
        <p>歡迎光臨，請輸入帳號密碼</p>
    </div>
    <form action="./signin" method="post" class="form">
        <p>登入系統</p>
        <div class="info">
            <div class="text">帳號</div>
            <input type="text" name="account"/>
        </div>
        <div class="info">
            <div class="text">密碼</div>
            <input type="text" name="password"/>
        </div>
        <button type="submit" class="submit">登入</button>
    </form>

    <hr/>
    
    <form action="./square" method="post" class="form">
        <p>計算正整數的平方</p>
        <div class="info">
            <div class="text">正整數</div>
            <input type="text" name="number"/>
        </div>
        <button type="submit" class="submit">計算</button>

    </form>
</body>
</html>