<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./normalize.css">
    <link rel="stylesheet" href="./style.css">
    <title>week-4 assignment</title>
</head>
<body>
    <div class="title">
        <p>歡迎光臨，這是會員頁</p>
    </div>
   <div class="content">{{ message }}，歡迎登入系統</div>
   <div class="content"><a href="./signout">登出系統</a>
    </div>
</body>
</html>